<header id="header">
  <div class="row">
    <div class="col-xs-12 text-center">
      <div id="logo">
        <img src="/images/AngularJS_logo.svg" alt="AngularJS" class="img-responsive center-block">
      </div>
    </div>
  </div>
</header>

<section id="">
  <div class="row">
    <div class="container">
      <div class="col-sm-5">
        <img src="http://placeskull.com/200/200/" alt="" class="img-responsive img-circle center-block">
      </div>
      <div class="col-sm-7">
        <h1>Test</h1>
      </div>
    </div>
  </div>
</section>
