<header id="header">
  <div class="row">
    <div class="col-sm-4 text-center">
      <div id="logo">
        <img src="/images/AngularJS_logo.svg" alt="AngularJS" class="img-responsive center-block">
      </div>
    </div>
    <div class="col-sm-8 text-center">
      <h1>Davey Dave</h1>
    </div>
  </div>
</header>

<section id="introduction">
  <div class="row">
    <div class="col-sm-8">
      <h3>Lorem Ipsum</h3>
      <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, saepe distinctio quia voluptatum dolorum rem ipsa facilis consectetur! Doloremque, ut assumenda qui itaque autem necessitatibus natus incidunt. Nulla, dignissimos, necessitatibus.</small>
    </div>
    <div class="col-sm-4"> 
      <h3>Lorem Ipsum</h3>
      <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, saepe distinctio quia voluptatum dolorum rem ipsa facilis consectetur!</small>
    </div>
  </div>
</section>
